In [1]:
import numpy as np
import tensorflow as tf
import pandas as pd
from tensorflow import keras

physical_devices = tf.config.list_physical_devices('GPU')
for device in physical_devices:
  tf.config.experimental.set_memory_growth(device, True)

In [2]:
dt = pd.read_csv('data/simulator_data_2021_04_07__15_21_50.csv')
dt.drop(columns=['car_id'], inplace=True)
dt.head()

,command,sensor_0_distance,sensor_0_object_type,sensor_1_distance,sensor_1_object_type,sensor_2_distance,sensor_2_object_type,sensor_3_distance,sensor_3_object_type,sensor_4_distance,...,sensor_11_distance,sensor_11_object_type,sensor_12_distance,sensor_12_object_type,sensor_13_distance,sensor_13_object_type,sensor_14_distance,sensor_14_object_type,sensor_15_distance,sensor_15_object_type
0,keep_direction,6.547005,1.0,7.690182,1.0,9.395565,1.0,12.013016,1.0,16.300545,...,144.103813,1.0,114.091113,1.0,95.768958,1.0,83.831275,1.0,75.829038,1.0
1,keep_direction,41.188022,1.0,45.760729,1.0,52.582262,1.0,63.052065,1.0,80.202179,...,80.202179,1.0,63.052065,1.0,52.582262,1.0,45.760729,1.0,41.188022,1.0
2,keep_direction,41.188022,1.0,45.760729,1.0,52.582262,1.0,63.052065,1.0,80.202179,...,80.202179,1.0,63.052065,1.0,52.582262,1.0,45.760729,1.0,41.188022,1.0
3,keep_direction,41.188022,1.0,45.760729,1.0,52.582262,1.0,63.052065,1.0,80.202179,...,80.202179,1.0,63.052065,1.0,52.582262,1.0,45.760729,1.0,41.188022,1.0
4,keep_direction,41.188022,1.0,45.760729,1.0,52.582262,1.0,63.052065,1.0,80.202179,...,80.202179,1.0,63.052065,1.0,52.582262,1.0,45.760729,1.0,41.188022,1.0

In [3]:
def calculate_command_value(command: str):
    if command == 'keep_direction':
        return 0.0
    elif command == 'turn_right':
        return 1.0
    elif command == 'turn_left':
        return -1.0
    else:
        raise Exception('Invalid command!')


        
dt['command_value'] = dt.apply( lambda row: calculate_command_value(row['command']), axis=1)
dt.tail()

,command,sensor_0_distance,sensor_0_object_type,sensor_1_distance,sensor_1_object_type,sensor_2_distance,sensor_2_object_type,sensor_3_distance,sensor_3_object_type,sensor_4_distance,...,sensor_11_object_type,sensor_12_distance,sensor_12_object_type,sensor_13_distance,sensor_13_object_type,sensor_14_distance,sensor_14_object_type,sensor_15_distance,sensor_15_object_type,command_value
7995,keep_direction,28.594488,1.0,31.076842,1.0,158.433076,1.0,134.899715,1.0,119.407276,...,1.0,69.300969,1.0,63.909598,1.0,59.077032,1.0,54.699484,1.0,0.0
7996,keep_direction,28.462094,1.0,30.934665,1.0,156.825540,1.0,133.523655,1.0,118.183600,...,1.0,68.794800,1.0,63.559002,1.0,58.837653,1.0,54.645878,1.0,0.0
7997,keep_direction,28.329700,1.0,30.792488,1.0,155.218005,1.0,132.147594,1.0,116.959924,...,1.0,68.257777,1.0,63.208406,1.0,58.598274,1.0,54.515077,1.0,0.0
7998,keep_direction,28.197306,1.0,190.256092,1.0,153.610469,1.0,130.771534,1.0,115.736248,...,1.0,67.720753,1.0,62.857810,1.0,58.358895,1.0,54.384276,1.0,0.0
7999,keep_direction,28.064912,1.0,188.277149,1.0,152.002933,1.0,129.395473,1.0,114.512572,...,1.0,67.183729,1.0,62.507214,1.0,58.119516,1.0,54.253474,1.0,0.0

In [4]:
input_dataframe = dt.drop(columns=['command', 'command_value']).to_numpy()
output_dataframe = dt['command_value'].to_numpy()
print(input_dataframe)
print(output_dataframe)

[[  6.54700538   1.           7.69018215 ...   1.          75.82903769
    1.        ]
 [ 41.18802154   1.          45.7607286  ...   1.          41.18802154
    1.        ]
 [ 41.18802154   1.          45.7607286  ...   1.          41.18802154
    1.        ]
 ...
 [ 28.32970003   1.          30.79248837 ...   1.          54.51507694
    1.        ]
 [ 28.19730601   1.         190.25609228 ...   1.          54.38427555
    1.        ]
 [ 28.06491198   1.         188.27714894 ...   1.          54.25347415
    1.        ]]
[0. 0. 0. ... 0. 0. 0.]

In [5]:

# dataset = tf.data.Dataset.from_tensor_slices((input_dataframe, output_dataframe))
# dataset = dataset.shuffle(2500)

# train_dataset = dataset.skip(1000)
# test_dataset = dataset.take(1000)

In [6]:
# Normalize distances
def reshape_and_normalize_sensors_distances(row):
    def normalize_sensor_value(sensor):
        # sensor[0] = sensor[0] / 600.0
        return sensor
    
    matrix = np.apply_along_axis(normalize_sensor_value, -1, row.reshape((-1, 2))) 
    return matrix

input_data = np.apply_along_axis(reshape_and_normalize_sensors_distances, -1, input_dataframe)

In [7]:
# Create Keras model
def build_model(input_shape, output_shape):
    model = keras.models.Sequential([
        keras.layers.InputLayer(batch_input_shape=input_shape),
        keras.layers.Dense(2, activation='sigmoid'),
        keras.layers.Dense(1, activation='relu'),
        keras.layers.Flatten(),
        keras.layers.Dense(output_shape, activation='tanh')
    ])
    
    model.compile(loss='mse', optimizer='adam', metrics=['mae', 'accuracy'])
    print(model.summary())
    
    return model

nn = build_model((None, 16, 2), 1)

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 16, 2)             6
_________________________________________________________________
dense_1 (Dense)              (None, 16, 1)             3
_________________________________________________________________
flatten (Flatten)            (None, 16)                0
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 17
=================================================================
Total params: 26
Trainable params: 26
Non-trainable params: 0
_________________________________________________________________
None

In [8]:
nn.fit(x=input_data,
       y=output_dataframe,
       epochs=1000,
       verbose=0
      )

In [9]:
nn.evaluate(x=input_data,
            y=output_dataframe)

250/250 [==============================] - 1s 3ms/step - loss: 0.3783 - mae: 0.4997 - accuracy: 0.5788: 0s - loss: 0.3858 - mae: 0.5046 - accuracy: 0.

[0.37831202149391174, 0.49966979026794434, 0.5787500143051147]

In [10]:
nn.save('models/test')

INFO:tensorflow:Assets written to: models/test\assets